.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  text-shadow: white 127px 127px 127px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:justify;
  height: auto;
  font-size: 15pt;
  text-overflow: ;
  color: white;
  
}

.App-body {
  background-color: #FFFFFF
}

.center {
  position: relative;
  top: 7.5px; left:-5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
