.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  text-shadow: white 0px 0px 5px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-body {
  background-color: #FFFFFF
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
